<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.cloud.dao.MallCategoryParamMapper">
  <resultMap id="BaseResultMap" type="com.springboot.cloud.entity.MallCategoryParam">
    <id column="category_param_id" jdbcType="BIGINT" property="categoryParamId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="category_param_name" jdbcType="VARCHAR" property="categoryParamName" />
    <result column="category_param_value" jdbcType="VARCHAR" property="categoryParamValue" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mall_category_param
    where category_param_id = #{categoryParamId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.springboot.cloud.entity.MallCategoryParam">
    insert into mall_category_param (category_id, category_param_name,
      category_param_value,  create_user, update_user)
    values (#{categoryId,jdbcType=BIGINT}, #{categoryParamName,jdbcType=VARCHAR},
      #{categoryParamValue,jdbcType=VARCHAR}, #{createUser,jdbcType=INTEGER}, #{updateUser,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.springboot.cloud.entity.MallCategoryParam">
    update mall_category_param
    set
      category_param_name = #{categoryParamName,jdbcType=VARCHAR},
      category_param_value = #{categoryParamValue,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=INTEGER}
    where category_param_id = #{categoryParamId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select category_param_id, category_id, category_param_name, category_param_value, 
    create_time, create_user, update_time, update_user
    from mall_category_param
    where category_param_id = #{categoryParamId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select category_param_id, category_id, category_param_name, category_param_value, 
    create_time, create_user, update_time, update_user
    from mall_category_param
  </select>
  <insert id ="insertAll" parameterType="java.util.List" >
    <!--<selectKey resultType ="java.lang.Integer" keyProperty= "id"-->
    <!--order= "AFTER">-->
    <!--SELECT LAST_INSERT_ID()-->
    <!--</selectKey >-->
    insert into mall_category_param (category_id, category_param_name,
    category_param_value, create_user, update_user)
    values
    <foreach collection ="list" item="categoryGrand" index= "index" separator =",">
      (#{categoryGrand.categoryId,jdbcType=BIGINT}, #{categoryGrand.categoryParamName,jdbcType=VARCHAR},
        #{categoryGrand.categoryParamValue,jdbcType=VARCHAR}
      #{categoryGrand.createUser,jdbcType=INTEGER},#{categoryGrand.updateUser,jdbcType=INTEGER})
    </foreach >
  </insert >
</mapper>