<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.cloud.dao.MallOrderMapper">
  <resultMap id="BaseResultMap" type="com.springboot.cloud.entity.MallOrder">
    <id column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="pay_status" jdbcType="TINYINT" property="payStatus" />
    <result column="pay_type" jdbcType="TINYINT" property="payType" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="extra_info" jdbcType="VARCHAR" property="extraInfo" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
    <result column="freight_amount" jdbcType="DECIMAL" property="freightAmount" />
    <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mall_order
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert"  useGeneratedKeys="true" keyProperty="orderId" parameterType="com.springboot.cloud.entity.MallOrder">
    insert into mall_order (order_no, user_id,
      total_amount, pay_status, pay_type, 
      pay_time, order_status, extra_info,
      pay_amount, freight_amount, coupon_amount
      )
    values ( #{orderNo,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT},
      #{totalAmount,jdbcType=DECIMAL}, #{payStatus,jdbcType=TINYINT}, #{payType,jdbcType=TINYINT}, 
      #{payTime,jdbcType=TIMESTAMP}, #{orderStatus,jdbcType=TINYINT}, #{extraInfo,jdbcType=VARCHAR},
      #{payAmount,jdbcType=DECIMAL}, #{freightAmount,jdbcType=DECIMAL}, #{couponAmount,jdbcType=DECIMAL}
     )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.springboot.cloud.entity.MallOrder">
    update mall_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      pay_status = #{payStatus,jdbcType=TINYINT},
      pay_type = #{payType,jdbcType=TINYINT},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      order_status = #{orderStatus,jdbcType=TINYINT},
      extra_info = #{extraInfo,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      freight_amount = #{freightAmount,jdbcType=DECIMAL},
      coupon_amount = #{couponAmount,jdbcType=DECIMAL},
      delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select order_id, order_no, user_id, total_amount, pay_status, pay_type, pay_time, 
    order_status, extra_info, is_deleted, create_time, update_time, pay_amount, freight_amount, 
    coupon_amount, delivery_time, receive_time
    from mall_order
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select order_id, order_no, user_id, total_amount, pay_status, pay_type, pay_time, 
    order_status, extra_info, is_deleted, create_time, update_time, pay_amount, freight_amount, 
    coupon_amount, delivery_time, receive_time
    from mall_order
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    SELECT
      *
    FROM
     mall_order
    WHERE 1
    <if test="userId!=null ">
      AND user_id = #{userId,jdbcType=BIGINT}
    </if>
    <if test="status!=null ">
      AND  order_status= #{status,jdbcType=INTEGER}
    </if>
    <if test="orderNo!=null ">
      AND order_no = #{orderNo,jdbcType=VARCHAR}
    </if>
    <if test="date!=null ">
      AND  DATE_FORMAT((create_time),"%Y-%m-%d") = #{date,jdbcType=DATE}
      <!--AND  DATE_FORMAT((create_time),"%Y-%m-%d") = #{date,jdbcType=DATE}-->
    </if>
    Order BY  create_time desc
  </select>
</mapper>